@media screen and (max-width:1150px){
    nav{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:1000px){
    .grid-container{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 2fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
            grid-template-areas:
          "our_services our_services"
          "graphic_design web_development"
          "seo mob_dev";
      }
      .grid-container div>svg{
          margin-top: 10px;
      }
      .our_services{
      padding-bottom: 0;
    }
    

}
@media screen and (max-width:900px){
    #first_slider li>img{
width:100%;
height: 100%;
    }
}

@media screen and (max-width:830px){
    .about_us--right>div{
    
     margin-left: 30px;
    }
    #my-form{
        padding: 10px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .absolute_ico{
        bottom:710px;
    }
    #phone_btn{
        bottom: 618px;
    }
    .arrow_size{
        width: 25px;
        height: 27px;
    }
    #interface_-_arrow_top_{
        width: 50px;
        height: 50px;
        right: 129px;
        bottom: 12px;
}
}
@media screen and (max-width:700px){
nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}
    #nav_items{
        display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
}

@media screen and (max-width:700px){
    .white_block{
        width: 250px;
    }
    .social_wrap{
        width:250px;
    }
    .social_wrap>svg{
    
        margin: 2px;
    }
    .social_wrap>a>svg{
        margin: 2px;
    }

    .photo_circle{
        position: absolute;
        top: -100px;
      width: 200px;
      left: 5px;
    }
    .splide__track{
        margin: 0 10px;
      }
}
@media screen and (max-width:500px){
    h1{
        font-size: 50px;
    }
h2{
    padding-bottom: 200px;
}
#about_us{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about_us--left{
    width:80%;
    height: 250px;
}
/* .descrip_btn{
    width: 230px;
} */
/* #home_btn{
    right: -230px;
}
#phone_btn{
    right: -230px;
} */
.foot_wrap{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer_text{
    padding-top: 15px;
}
h4{
    text-align: center;
}
}
